<div id="estud">
    <a href="/estudantes">voltar</a>
    <div class="container">
        <h1>{{estudante.nome}}</h1>
        <p>este aluno esta na {{estudante.serie}} ยบ serie</p>
        <div class="action">
            <a href="/estudantes/edit/{{estudante.id}}">Editar</a> 
            </div>
    </div>
</div>


