<h1>cadastre o estudante:</h1>

<form action="/estudantes/insertestudantes" method="POST" class="form">
<div class="form-control">
    <label for="title">nome do estudante</label>
    <input type="text" name="name" id="name" placeholder="digite o nome do estudante">
</div>
<div class="form-control">
    <label for="serie"> serie do estudante</label>
    <input type="text" name="serie" id="serie" placeholder="digite a serie do estudante">
</div>
<input type="submit" value="cadastrar">

</form>